[submodule "CAD/src/lib/stdlib"]
	path = CAD/src/lib/stdlib
	url = git@github.com:ThunderFly-aerospace/Openscad_stdlib.git
[submodule "CAD/src/lib/NopSCAD"]
	path = CAD/src/lib/NopSCAD
	url = git@github.com:nophead/NopSCADlib.git
