[submodule "CAD/src/lib/stdlib"]
	path = CAD/src/lib/stdlib
	url = git@github.com:ThunderFly-aerospace/Openscad_stdlib.git
[submodule "CAD/src/lib/NopSCAD"]
	path = CAD/src/lib/NopSCAD
	url = git@github.com:nophead/NopSCADlib.git
[submodule "CAD/src/lib/Round-Anything"]
	path = CAD/src/lib/Round-Anything
	url = git@github.com:Irev-Dev/Round-Anything.git
[submodule "CAD/src/lib/TFSLOT01"]
	path = CAD/src/lib/TFSLOT01
	url = git@github.com:ThunderFly-aerospace/TFSLOT01.git
        branch = TF-G2/4S
[submodule "CAD/src/lib/TFGPS01"]
	path = CAD/src/lib/TFGPS01
	url = git@github.com:ThunderFly-aerospace/TFGPS01.git
[submodule "CAD/slicing"]
	path = CAD/slicing
	url = git@github.com:ThunderFly-aerospace/3dprinter_configs.git
